<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nbird.multiplayerquiztrivia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BUZZER.ACTIVTY.BuzzerPictureActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BUZZER.ACTIVTY.BuzzerScoreActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TOURNAMENT.ACTIVITY.TournamentVideoActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BUZZER.ACTIVTY.BuzzerNormalActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BUZZER.ACTIVTY.LobbyBuzzerActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TOURNAMENT.ACTIVITY.TournamentAudioActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TOURNAMENT.ACTIVITY.TournamentPictureActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BOT.VsBOTVideoQuiz"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BOT.VsBOTAudioQuiz"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BOT.VsBOTPictureQuiz"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".BOT.VsBOTNormalQuiz"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TOURNAMENT.ACTIVITY.ScoreActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".TOURNAMENT.ACTIVITY.TournamentNormalActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity android:name=".TOURNAMENT.ACTIVITY.LobbyActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".QUIZ.VsVideoQuiz"
            android:screenOrientation="portrait"/>
        <activity android:name=".QUIZ.VsAudioQuiz"
            android:screenOrientation="portrait"/>
        <activity android:name=".QUIZ.VsPictureQuiz"
            android:screenOrientation="portrait"/>
        <activity android:name=".QUIZ.VsNormalQuiz"
            android:screenOrientation="portrait"/>
        <activity android:name=".QUIZ.NormalVideoQuiz"
            android:screenOrientation="portrait"/>
        <activity android:name=".QUIZ.NormalAudioQuiz"
            android:screenOrientation="portrait"/>
        <activity android:name=".QUIZ.NormalPictureQuiz"
            android:screenOrientation="portrait"/>
        <activity android:name=".QUIZ.NormalSingleQuiz"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".StartingPackage.SlideActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MAIN.MainActivity"
            android:screenOrientation="portrait"/>


        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>