<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nbird.multiplayerquiztrivia">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/icon_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".BOT.VsBOTVideoQuiz"
            android:exported="false" />
        <activity
            android:name=".BOT.VsBOTAudioQuiz"
            android:exported="false" />
        <activity
            android:name=".BOT.VsBOTPictureQuiz"
            android:exported="false" />
        <activity
            android:name=".BOT.VsBOTNormalQuiz"
            android:exported="false" />
        <activity
            android:name=".TOURNAMENT.ACTIVITY.ScoreActivity"
            android:exported="false" />
        <activity
            android:name=".TOURNAMENT.ACTIVITY.TournamentNormalActivity"
            android:exported="false" />
        <activity android:name=".TOURNAMENT.ACTIVITY.LobbyActivity" />
        <activity android:name=".QUIZ.VsVideoQuiz" />
        <activity android:name=".QUIZ.VsAudioQuiz" />
        <activity android:name=".QUIZ.VsPictureQuiz" />
        <activity android:name=".QUIZ.VsNormalQuiz" />
        <activity android:name=".QUIZ.NormalVideoQuiz" />
        <activity android:name=".QUIZ.NormalAudioQuiz" />
        <activity android:name=".QUIZ.NormalPictureQuiz" />
        <activity android:name=".QUIZ.NormalSingleQuiz" />
        <activity
            android:name=".StartingPackage.SlideActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MAIN.MainActivity" />
        <activity android:name=".Timers.QuizTimer" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>